/Manifest.toml
*Manifest.toml
*Manifest-v1.11.toml
/docs/build/
/docs/build_draft/
/docs/src/generated/
.vscode
devenv
testenv
*_extended.csv.gz
/docs/src/assets/logo.svg
/docs/src/assets/logo-dark.svg
/docs/src/assets/preview.png
