*.jl.cov
*.jl.*.cov
*.jl.mem
push_coverage
*.DS_Store


# Ipython Notebooks should only be used for trying stuff out locally
.ipynb_checkpoints/*
*.ipynb

# vim swap files
*.swp

Manifest.toml

# output pictures
*.png
*.jpg
*.html
*.tex

target/
