pre:has(.language-asciiart) {
  border: none !important;
  background: none !important;
  line-height: 1.2;
}

pre:has(.language-asciiart) button {
  display: none;
}

/* increase logo size */
div#documenter .docs-sidebar .docs-logo > img {
    max-height: 7rem !important; /* important to override in darkmode */
}
/* div#documenter .docs-sidebar .docs-package-name { */
/*     padding-top: 1rem; */
/* } */
